!! Colors
!!========
!95% opacity background
*background:                      [95]#000000
*foreground:                      #efefef
*cursorColor:                     #ffffff
*cursorColor2:                    #000000
*color0:                          #000000
*color1:                          #9e1828
*color2:                          #aece92
*color3:                          #968a38
*color4:                          #414171
*color5:                          #963c59
*color6:                          #418179
*color7:                          #bebebe
*color8:                          #666666
*color9:                          #cf6171
*color10:                         #c5f779
*color11:                         #fff796
*color12:                         #4186be
*color13:                         #cf9ebe
*color14:                         #71bebe
*color15:                         #ffffff

!! Fonts
!!=======
xft.dpi:                          96
xft.hinting:                      1
xft.antialias:                    1
xft.hintstyle:                    hintfull
xft.rgba:                         rgb
*font:                            xft:DejaVu Sans Mono:pixelsize=10

!! Common Settings
!!==================
! This option causes white screen flash
!*visualBell:                     true
*saveLines:                       5000
*cursorBlink:                     false
*dynamicColors:                   false

!! XTERM SETTINGS
!!================
xterm*scrollBar:                  false
xterm*toolBar:                    false
xterm*toolBar:                    false
xterm*titleBar:                   false

!! URXVT SETTINGS
!!================
urxvt*scrollTtyOutput:            false
urxvt*scrollTtyKeypress:          true
urxvt*mouseWheelScrollPage:       true
urxvt*cutChars:                   `'",;@&*=|?()<>[]{}
urxvt*termName:                   xterm

!bit depth of colors
urxvt*depth:                      32

!don't have a scroll bar on the side
urxvt*scrollBar:                  false

!fade text n% upon unfocus
urxvt*fading:                     20

!color all matching text 
urxvt.colorUL:                    #4682B4

!controls letter spacing
!urxvt.letterSpace:               -1

!makes links clickable and open with chromium
urxvt*perl-ext-common:            default

!matcher
urxvt*perl-ext-common:            matcher
!urxvt*url-launcher:              firefox
urxvt*url-launcher:               chromium-browser
urxvt.keysym.C-Delete:            perl:matcher:last
urxvt.keysym.M-Delete:            perl:matcher:list
urxvt.matcher.button:             1

!simple tabs - I think I may remove this and use tmux
urxvt*perl-ext-common:            ...,tabbed,...
!tab colors
urxvt.tabbed.tabbar-fg:           2
urxvt.tabbed.tabbar-bg:           0
urxvt.tabbed.tab-fg:              3
urxvt.tabbed.tab-bg:              0

!select and open urls, replaces matcher, requires 'urxvt-perls'
!urxvt.perl-ext:                  default,url-select
!urxvt.keysym.C-i:                perl:url-select:select_next
!urxvt.url-select.launcher:       chromium
!urxvt.url-select.underline:      true

!Enables urxvt tabs, requires urxvt-tabbedex
!urxvt.perl-ext-common:           ...,tabbedex,...
!urxvt.tabbed.new-button:         true
!urxvt.tabbed.autohide:           true
!urxvt.tabbed.reopen-on-close:    yes
!urxvt.keysym.Control-t:          perl:tabbedex:new_tab
!urxvt.keysym.Control-Tab:        perl:tabbedex:next_tab
!urxvt.keysym.Control-Shift-Tab:  perl:tabbedex:prev_tab
!urxvt.tabbed.no-tabbedex-keys:   true

!When you scroll a pager in a secondary screen(e.g. less), it may be a good idea to disable the scrollback buffer to be able to scroll in the pager itself, instead of the terminal buffer
!urxvt.secondaryScreen:           1
!urxvt.secondaryScroll:           0

!urxvt*borderLess:                true ! causes error on ubuntu
!urxvt*loginShell:                true

!! XautoLock Settings
!!====================
!Xautolock.time:                  45
!Xautolock.locker:                xlock unsure for xmonad
!xlock.mode:                      blank
